@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel-Black.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'RobotoCond';
    src: url('../fonts/RobotoCondensed-Light.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'RobotoCond';
    src: url('../fonts/RobotoCondensed-Medium.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Markazi';
    src: url('../fonts/MarkaziText-Bold.ttf') format('truetype');
    font-weight: 400;
}



/* Kingmaker specific styles */
/* ------------------------------------------------------------------------------------- */

div.journal-sheet.pf2e-km.window-app.journal-entry .journal-header input.title,
div.journal-sheet.pf2e-km.window-app.journal-entry-page .journal-page-header h1, 
div.journal-sheet.pf2e-km.window-app section.journal-entry-content .journal-page-header h1,
div.journal-sheet.window-app.pf2e-km .journal-page-content .left > h3,
div.adventure-importer.window-app.pf2e-km .window-content .left > h3, 
div.journal-sheet.window-app.pf2e-km .journal-page-content .right > h3,
div.adventure-importer.window-app.pf2e-km .window-content .right > h3,
div.journal-sheet.pf2e-km.window-app.journal-entry-page .journal-header input,
div.journal-sheet.pf2e-km.window-app section.journal-entry-content .journal-header input
{
    font-family: 'Cinzel' !important;
    font-weight: 900 !important;
}

div.journal-sheet.window-app.pf2e-km .journal-page-content p, 
div.adventure-importer.window-app.pf2e-km .window-content p, 
div.journal-sheet.window-app.pf2e-km .journal-page-content li, 
div.adventure-importer.window-app.pf2e-km .window-content li, 
div.journal-sheet.window-app.pf2e-km .journal-page-content label, 
div.adventure-importer.window-app.pf2e-km .window-content label 
{
    font-family: 'RobotoCond' !important;
}

div.journal-sheet.window-app.pf2e-km .journal-page-content p a.content-link, 
div.adventure-importer.window-app.pf2e-km .window-content p a.content-link, 
div.journal-sheet.window-app.pf2e-km .journal-page-content p a.inline-roll, 
div.adventure-importer.window-app.pf2e-km .window-content p a.inline-roll 
{
    font-weight: 700;
}

div.journal-sheet.window-app.pf2e-km .journal-page-content h3,
div.adventure-importer.window-app.pf2e-km .window-content h3, 
div.journal-sheet.window-app.pf2e-km .journal-page-content h4, 
div.adventure-importer.window-app.pf2e-km .window-content h4 
{
    font-family: 'RobotoCond' !important;
    font-weight: 700;
}

div.journal-sheet.window-app.pf2e-km .journal-page-content h2, 
div.adventure-importer.window-app.pf2e-km .window-content h2 
{
    font-family: 'BebasNeue' !important;
    font-size: 1.5rem !important;
    line-height: 1.5rem !important;
    margin: 1.25rem 0 0.5rem 0 !important;
}

div.journal-sheet.window-app.pf2e-km .journal-page-content table thead th, 
div.adventure-importer.window-app.pf2e-km .window-content table thead th, 
div.journal-sheet.window-app.pf2e-km .journal-page-content table thead th p, 
div.adventure-importer.window-app.pf2e-km .window-content table thead th p 
{
    font-family: 'Markazi' !important;
    font-size: 1.3rem !important;
}

div.journal-sheet.pf2e-km.window-app.journal-entry aside.sidebar.flexcol.directory.journal-sidebar ol.directory-list li.directory-item.level1 span.page-title,
div.journal-sheet.pf2e-km.window-app.journal-entry aside.sidebar.flexcol.directory.journal-sidebar ol.directory-list li.directory-item.level2 span.page-title
div.journal-sheet.pf2e-km.window-app.journal-entry aside.sidebar.flexcol.directory.journal-sidebar ol.directory-list li.directory-item.level3 span.page-title,
div.journal-sheet.pf2e-km.window-app.journal-entry aside.sidebar.flexcol.directory.journal-sidebar ol.directory-list li.directory-item.level4 span.page-title
{
    font-family: 'RobotoCond' !important;
}

div.journal-sheet.pf2e-km.window-app.journal-entry aside.sidebar.flexcol.directory.journal-sidebar ol.directory-list li.directory-item.level1 span.page-title
{
    font-weight: 700;
}

div.journal-sheet.pf2e-km.window-app.journal-entry-page .journal-page-header h2,
div.journal-sheet.pf2e-km.window-app section.journal-entry-content .journal-page-header h2,
div.journal-sheet.pf2e-km.window-app.journal-entry-page .journal-page-header h3,
div.journal-sheet.pf2e-km.window-app section.journal-entry-content .journal-page-header h3 
{
    font-family: 'BebasNeue' !important;
}

/* ------------------------------------------------------------------------------------- */
